*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    min-height: 10vh;
    background: #f68b1e;
    color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 1;
   }
.header1{
    display: flex;
    justify-content: center;
    align-items: center;

    justify-content: space-between;
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
}
nav ul li{
    width: 200px;
    padding: 20px;
}
nav ul li a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    font-size: 1.3em;
}
nav ul li a:hover{
    background: #ffffff;
    color:#f68b1e;
    text-decoration: none;
}
#contacts a{
color: #ffffff;
font-size: 30px;
}
#contacts a:hover{
    text-decoration: none;
    font-size: 35px;
}
.logo h1{
    cursor: pointer;
}
#Home{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}