*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    height: 150px;
    background: #4C5270;
    color: #ffffff;
    position: sticky;
    top: 0;
   }
.header1{
    display: flex;
    justify-content: center;
    align-items: center;

    justify-content: space-between;
    
}
