*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    min-height: 10vh;
    background: #f68b1e;
    color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 1;
   }
.header1{
    display: flex;
    justify-content: center;
    align-items: center;

    justify-content: space-between;
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
}
nav ul li{
    width: 200px;
    padding: 20px;
}
nav ul li a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    font-size: 1.3em;
}
nav ul li a:hover{
    background: #ffffff;
    color:#f68b1e;
    text-decoration: none;
}
#contacts a{
color: #ffffff;
font-size: 30px;
}
#contacts a:hover{
    text-decoration: none;
    font-size: 35px;
}
.logo h1{
    cursor: pointer;
}
#Home{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#About h1, #Services h1, #Order h1{
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
    margin-top: 50px;
    font-weight: 700;
}
#About{
    width:100vw;
    height: 60vh;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 100px;
    margin: 100px;
}

.image{
text-align: center;
color: #f68b1e;
border: 1px solid #f68b1e;
}
footer{
    width: 100vw;
    min-height: 100px;
    padding:50px;
    text-align: center;
    font-size: 25px;
    background-color: #f68b1e;
    margin-top: 20px;
}
footer i{
    color: #ffffff;
    cursor: pointer;
    margin:20px;
}
footer i:hover{
opacity: .8;
}
.row h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
#Services{
    width: 100vw;
    height: 60vh;
    background: url('../images/3.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 100px;
    overflow: hidden;
    color: #ffffff;
    overflow: hidden;
    
}
#Services .row{
    width: 100vw;
    height: 60vh;
    background: rgba(0, 0, 0, .4);
}
.image{
    cursor: pointer;
}